/* general */
.cart-collaterals .h2, .cart-collaterals h2, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  color: #379244;
}


.modal-sidebar .modal-content{
  overflow: auto !important;
}
/* style loged in panel */
#collapseSignin .modal-header-content{
  display: flex;
  align-items: center;
}

@media(max-width:767px){
  #collapseSignin  .modal-header-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

#collapseSignin .modal-header-content img{
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  margin-left: 20px;
}


#collapseSignin  ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
#collapseSignin   ul li{
  padding: 5px 0;
}
#collapseSignin   ul li a{
  display: inline-block;
  width: 100%;
  color: #2f2d51;
}
#collapseSignin   ul li a:hover{
  color: black;
}


.hr{
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid;
}

/* style course-list  */
/* style image in the header section  */
@media (min-width: 992px) {
  .mw-300p {
    max-width: 220px !important;
  }
}

@media (min-width: 1200px) {
  .mw-xl-450p {
    max-width: 300px !important;
  }
}

/* course single  */
.overlay-custom-left{
  height: 325px;
}
.overlay-custom-left::before{
    background: -webkit-gradient(linear,left bottom,left top,from(rgba(9,7,97,.6)),to(rgba(9,7,97,.6))),-webkit-gradient(linear,right top,left top,color-stop(17.76%,#090761),to(rgba(255,255,255,0)));
    background: linear-gradient(0deg,rgba(9,7,97,.6),rgba(9,7,97,.6)),linear-gradient(270deg,#090761 17.76%,rgba(255,255,255,0) 100%);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%, 0%;
    background-position-y: 0%, 0%;
    background-repeat: repeat, repeat;
    background-attachment: scroll, scroll;
    background-image: linear-gradient(0deg, rgba(9, 7, 97, 0.6), rgba(9, 7, 97, 0.6)), linear-gradient(270deg, rgb(9, 7, 97) 17.76%, rgba(255, 255, 255, 0) 100%);
    background-size: auto, auto;
    background-origin: padding-box, padding-box;
    background-clip: border-box, border-box;
}

/* featured section  */
.card-hover-image::before{
  background-color: rgba(55, 146, 68, 0.8);
}

/* blog-list */
.recent-posts  img{
  width: 63px !important;
}

@media (max-width:767px){
  .recent-posts  img{
    width: 100px !important;
  }
  
}

/* shop cart page  */

.shop-cart-check-table .action a{
  font-size: 1rem !important;
}

@media(max-width:767px){
  .shop-cart-check-table.cart tbody td{
    padding: 1rem 0.5rem;
  }
  .shop-cart-check-table.cart tbody .product-name img{
    width: 60px;
    height: 60px;
  }
  .shop-cart-check-table  .course_detail{
    flex-direction: column;
  }
  .shop-cart-check-table .action a{
    font-size: 0.8rem !important;
  }
}

/* checkout carts */
.payment-card-head{
  font-size: 1.5rem;

}
.payment-card-icons{
  font-size: 2rem;
}

@media(max-width:767px){
  .payment-card-head{
    font-size: 1rem;
  
  }
  .payment-card-icons{
    font-size: 1.5rem;
  }
}


/* notification  */
#notificationTabsContent{
  width: 450px !important;
}


@media (max-width:767px){
  #notificationTabsContent{
    width: 100vw !important;
  }
  
}


/* footer section */

.my-wrapper {
  position: fixed;
  width: 400px;
  bottom: 0;
  left: 60px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 100;
  margin: 0;
  background-color:  rgba(55, 146, 68, 0.9);
  color: white;
  cursor: pointer;
  border: 0;
  outline: 0;

}

@media(max-width:565px) {
  .my-wrapper {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 0;
      left: 0px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      z-index: 100;
      margin: 0;
      background-color:  rgba(55, 146, 68, 0.8);
      color: white;
      cursor: pointer;
      border: 0;
      outline: 0;

  }

  .alert-dismissible .btn-close {
      padding: 0.5rem 0.5rem;
      font-size: 12px;
  }

  .navbar-dark .navbar-nav .nav-link {
      color: #000;
      padding-left: 5px;
      padding-right: 5px;
  }
}

/* event-single */
.card-hover-overlay::before , 
.list-style-v1 li::after , 
.btn-primary, .cart-collaterals .checkout-button, form.woocommerce-checkout .place-order .button{
  background-color: rgba(55, 146, 68, 0.8);
}


